.git
.github
.devcontainer
.vscode
.venv
.workflow
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.pyre
.tox
.nox
.coverage*
htmlcov

.env
data
errors
sgcc_cache.json
debug_captcha_out
debug_captcha_opencv
homeassistant_sgcc_sensors

assets
docs
examples
ha_addons_doc
tests
tools
*.md
